h1 {
    color: yellow;
    font-family: 'Turret Road', cursive;
    border-style: inset;
      width: 600px;
  height: 50px;


}


p {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

h2 {
    font-family: 'Turret Road', cursive;
    color: yellow;
     border-style: outset;
     width: 300px;
  height: 50px;
}
li {
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 40px;
}

img {
    width: 200px;
}

body{
    background-image: url("https://media1.tenor.com/images/047ff6305e9c7aa944db31fd3b9364bc/tenor.gif?itemid=15187231");
}